.carousel-links {
    display: flex;
    justify-content: center;
}
  
.carousel-slides > div {
    width: 100%;
    background-color: rgb(68, 68, 68);
    color: var(--secondary-font-color);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
  
.carousel-dot {
    background-color: black;
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
    margin: 5px;
}
 
.carousel-slides {
    height: 30vh;
    overflow: hidden;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.slide-item {
    width: 100vw;
    height: 30vh;
    overflow: hidden;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}

.texto-encima {
  color: aliceblue;
  font-size: larger;
  position: absolute;
  top: 10px;
  left: 20px;
}

.centrado {
  color: aliceblue;
  font-style: italic;
  position: absolute;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
}
