:root {
  --main-primary-color: #ddd5d5;
  --secondary-font-color: rgb(0, 0, 0);
  --main-navbar-color: #6d6d6d;
  font-size: 16px;
}

.main-colors {
  background-color: var(--main-primary-color);
  color: var(--secondary-font-color);
}

.italics {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  color:#131313
}

.margen-cabecera {
  margin-top: -28px;
  padding-bottom: 10px;
  font-size:x-large;
}

.navbar-main {
  background-color: var(--main-navbar-color);
  color: var(--secondary-font-color);
  position:sticky;
  padding: 0px 0px;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}

.nav-link {
  color: var(--secondary-font-color);
  display: flex;
  justify-content:end;
  align-items:flex-end;
  padding: 10px;
}

/* .nav-link:hover {background-color: rgb(252, 225, 191);} */

.nav-link-wrap {
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin:10%;
}

.nav-link {
  padding:20px;
  margin:2%;
  background:rgb(114, 109, 109);
  width:20%;
  border:1px solid #d6d6d6;
  box-shadow:0 2px 3px 0px rgba(0,0,0,0.25);
  border-radius:3px;
  transition:.2s all; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.contenedor-navbar:hover .nav-link {
  filter:blur(3px);
  opacity:.5;
  transform: scale(.98);
  box-shadow:none;
}

.contenedor-navbar:hover .nav-link:hover {
  transform:scale(1);
  filter:blur(0px);
  opacity:1;
  box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
}

 .contenedor-navbar {
    display: flex;
    justify-content:space-between;
    align-items:center;
    display: none;

 }

.foto {
  display: flex;
  justify-content: center;
}

.titulo-seccion {
  font-size: larger;
  font: bolder;
  display: flex;
  justify-content: center;
}

.carousel-links {
    display: flex;
    justify-content: center;
 }
  
.carousel-slides > div {
    width: 100%;
    background-color: rgb(68, 68, 68);
    color: var(--secondary-font-color);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
  
.carousel-dot {
    background-color: black;
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
    margin: 5px;
 }
 
.carousel-slides {
    width: 100vw;
    height: 30vh;
    overflow: hidden;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.slide-item {
    width: 100vw;
    height: 30vh;
    overflow: hidden;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
 }

.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}

.texto-encima {
  color: aliceblue;
  font-size: larger;
  position: absolute;
  top: 10px;
  left: 20px;
}

.centrado {
  color: aliceblue;
  font-style: italic;
  position: absolute;
  top: 90%;
  left: 95%;
  transform: translate(-50%, -50%);
}

.formulario {
 text-align: center;
 margin: 10px;

}

.boton {
  border-radius: 5px;
  border:2px;
}

@media screen and (min-width:700px){
  .contenedor-navbar {
    display: flex;
  }
}