:root {
  --main-primary-color: #ddd5d5;
  --secondary-font-color: rgb(0, 0, 0);
  --main-navbar-color: #6d6d6d;
  font-size: 16px;
  max-width: 90%;
  margin: 0 auto;
}

.main-colors {
  background-color: var(--main-primary-color);
  color: var(--secondary-font-color);
}

.italics {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  color:#131313
}

.margen-texto-fotografo {
  margin-top: -28px;
  padding-bottom: 10px;
  font-size:x-large;
}

.foto {
  display: flex;
  justify-content: center;
}

.titulo-seccion {
  font-size: larger;
  font: bolder;
  display: flex;
  justify-content: center;
}

.formulario {
 text-align: center;
 margin: 10px;
}

.boton {
  border-radius: 5px;
  border:2px;
}

/* .navbar-footer {
  background-color: var(--main-navbar-color);
  color: var(--secondary-font-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-footer img{
  width: 20%;  
}

.footer-link {
  color: var(--secondary-font-color);
  display: flex;
  justify-content:space-between;
  align-items:center;
 } */

@media screen and (min-width:700px){
  .contenedor-navbar {
    display: flex;
  }
}