:root {
  --main-primary-color: #ddd5d5;
  --secondary-font-color: rgb(0, 0, 0);
  --main-navbar-color: #6d6d6d;
  font-size: 16px;
}

.main-colors {
  background-color: var(--main-primary-color);
  color: var(--secondary-font-color);
}

.italics {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
}

.margen-cabecera {
  margin-top: -20px;
  font-size:x-large;
}

.navbar-main {
  background-color: var(--main-navbar-color);
  color: var(--secondary-font-color);
  padding: 0px 0px;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}

.nav-link {
  color: var(--secondary-font-color);
  display: flex;
  justify-content:right;
  align-items: right;
 }

.foto {
  display: flex;
  justify-content: center;
}

.titulo-seccion {
  font-size: larger;
  font: bolder;
  display: flex;
  justify-content: center;
}

.carousel-links {
    display: flex;
    justify-content: center;
 }
  
.carousel-slides > div {
    width: 100%;
    background-color: rgb(68, 68, 68);
    color: var(--secondary-font-color);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
  
.carousel-dot {
    background-color: black;
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
    margin: 5px;
 }
 
.carousel-slides {
    width: 100vw;
    height: 30vh;
    overflow: hidden;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.slide-item {
    width: 100vw;
    height: 30vh;
    overflow: hidden;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
 }

.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}

.texto-encima {
  color: aliceblue;
  font-size: larger;
  position: absolute;
  top: 10px;
  left: 20px;
}

.centrado {
  color: aliceblue;
  font-style: italic;
  position: absolute;
  top: 90%;
  left: 95%;
  transform: translate(-50%, -50%);
}

.boton {
  border-radius: 5px;
  border:2px;
}