:root {
    --main-primary-color: #ddd5d5;
    --secondary-font-color: rgb(0, 0, 0);
    --main-navbar-color: #6d6d6d;
    font-size: 16px;
    max-width: 90%;
    margin: 0 auto;
  }

  .navbar-main-mv {
        background-color: var(--main-navbar-color);
        color: var(--secondary-font-color);
        position:sticky;
        padding: 0px 0px;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: right;
        align-items: center;
        min-height: 70px;
}

.margen-texto-atras-mv {
    margin-top: 40px;
    padding-bottom: 0px;
    font-size:x-large;
    text-decoration: none;
    display: flex;
    justify-content: right;
   
  }